body {
	background-color: #FFFFF0;
	margin: 0;
}

header {
	background-color: #FFF5EE;
	text-align: center;
	color:  #3d0000;
	padding: 15px;
	font-family: 'Brush Script MT', cursive;
}

header > h1 {
	font-size: 50px;
	margin: 25px;
}

/* navigation bar style */
nav {
	overflow: hidden;
	background-color: #1c0000;
	position: relative;
}
nav > p {
    float: left;
	display: block;
	color: #FFFFF0;
	text-align: center;
	padding: 14px 16px;
	margin: 0px;
	text-decoration: none;
}
nav p:hover {
	background-color: #ebdddd;
	color: #1c0000;
}

/* form style */
.pizzaForm, .pizzaMenu {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #FFF5EE;
}

input[type=text], 
input[type=submit],
input[type=number] {
	margin: inherit;
	display: block !important;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	width: 200px;
    padding: 7px;
}

form {

	margin: 5px;
	padding: 5px 0px;
	color: #1c0000;
}

label {
	padding: inherit;
	margin: inherit;
}

.photos img{
    height: 150px;
    border-radius: 5px;
    margin: 5px;
}

.pizzasHeat {
    height: 20px;
    margin: opx;
    margin-left: 5px;
}

input[type=radio] {
    display:none;
}

input[type=radio]:checked + label > img{
    border-color: #420000;
    border-style: solid;

}

/* menu style */
.menuPhoto {
    height: 150px;
    border-radius: 5px;
    margin: 5px;
}

.pizzaDetails{
    border: 1px solid #1c0000;
	border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
	box-shadow: 0px 0px 15px -6px #1c0000;
	color:  #1c0000;
	background-color: #FFF5EE;
    width: 100%;
}

.priceOfPizza{
    text-align: right;
}

.pizzaMenuPhoto{
    width: 160px;
}

.nameOfPizza{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.chillies{
    display: inline-block; 
}

#deletePizza{
    float: right;
}

.deletePizza{
    width: 55px;
}

.sort{
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	width: 200px;
    padding: 7px;
}